.gitignore
.devcontainer
.mypy_cache
.vscode
__pycache__
py3.9
.venv
.wslvenv
.python-version

mmdpy.egg-info
dist
build

glut32.dll
install.sh
get-pip.py
wheel/

demo/motion/
demo/model/

demo/openpose.py
demo/pyopenpose.cp36-win_amd64.pyd
demo/todo.txt
demo/models
demo/media

demo.bat
demo2.bat
demo.sh
wsl.xserver.txt

temp.vmd

mmdpy/backup
bullet_test
ode_test
mmdpy_robot.urdf

# 作成途中
demo/sample_generateing_rotate_motion.py
