.gitignore
.mypy_cache
.vscode
__pycache__
py3.9

mmdpy.egg-info
dist
build

glut32.dll
install.sh
wheel/

demo/gumi
demo/miku
demo/world_is_mine.vmd

demo/openpose.py
demo/pyopenpose.cp36-win_amd64.pyd
demo/todo.txt
demo/models
demo/media

demo.bat
demo.sh
wsl.xserver.txt

mmdpy/backup
