.gitignore
.mypy_cache
.vscode
__pycache__

mmdpy.egg-info
dist
build

glut32.dll
install.sh
PyOpenGL_accelerate-3.1.5-cp36-cp36m-win_amd64.whl
PyOpenGL-3.1.5-cp36-cp36m-win_amd64.whl
ode-0.15.2-cp36-cp36m-win_amd64.whl

demo/gumi
demo/miku
demo/world_is_mine.vmd

demo/openpose.py
demo/pyopenpose.cp36-win_amd64.pyd
demo/todo.txt
demo/models
demo/media

demo.bat

mmdpy/backup
